/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #198754;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* End Global Rules */

/* Start Header 1*/
.navbar {
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.logo-img {
  height: 100px;
  width: 100px;
  padding: 15px 0 0;
  margin: 0;
}

.register i,
.Login i {
  margin-right: 5px;
}

.navbar form {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2px 0 2px 10px;
  border: #15742f solid 2px;
  background-color: #ffffff;
}

.navbar .input-form {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.navbar .button-form {
  border: none;
  outline: none;
  color: var(--main-color);
  background-color: #ffffff;
}

.navbar .button-form:hover {
  color: var(--main-color);
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .navbar .nav-item {
    padding: 0 15px;
  }

  .navbar form {
    padding: 0 15px;
    margin-bottom: 10px;
  }
}

/* .logo-img::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  left: -10px;
  top: 0;
  background-color: rgb(195, 188, 188);
}

.register,
.Login,
.navbar-brand {
  position: relative;
}

.Login::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  right: 0;
  top: 0;
  background-color: rgb(195, 188, 188);
}

.register::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  right: 0;
  top: 0;
  background-color: rgb(195, 188, 188);
} */

/* End Header */

/*Start slide 2 */
.slide {
  padding-top: 100px;
}

.carousel-item img {
  height: 500px;
  width: 100%;
  display: block;
}

/* .carousel-caption h1,
.carousel-caption p {
  width: fit-content;
  justify-self: center;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #000;
} */

.carousel-control-prev,
.carousel-control-next {
  padding-top: 100px;
  color: var(--main-color) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: var(--main-color) !important;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 200px;
    width: 100%;
    display: block;
  }
}

/*End slide */

/*Start Categories 3 */
.category {
  background-color: var(--main-color);
}

.title-overlay .overlay-head-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.title-overlay .overlay-head-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.Categories-overlay {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.Categories-overlay .card {
  width: 15%;
  height: 200px;
  margin: 7px;
  border-radius: 10px;
}

.Categories-overlay .card .card-img-top {
  height: 50%;
  width: 100%;
}

.Categories-overlay .card .card-title {
  height: 25%;
  width: 100%;
  text-align: start;
  padding-top: 15px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.Categories-overlay .card .card-text {
  margin: 5px;
  font-size: 16px;
  text-align: start;
}

@media (max-width: 768px) {
  .Categories-overlay .card {
    width: 45%;
    margin: 7px;
    border-radius: 7px;
  }

  .Categories-overlay .card .card-img-top {
    height: 57%;
  }

  .Categories-overlay .card .card-title {
    font-size: 14px;
    font-weight: bold;
  }

  .Categories-overlay .card .card-text {
    margin: 5px;
    font-size: 14px;
    text-align: start;
  }
}

/*End Categories 3 */

/* Start landing 4 */
.button-general {
  text-align: center;
  padding: 5px;
  margin: 20px auto;
  width: 250px;
  height: 50px;
  font-size: 19px;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: #2441e7;
}

.landing {
  background-attachment: fixed;
  background-image: url(../imgs/home/3.jpg);
  background-size: cover;
  height: calc(100vh / 2);
}

.intro-text {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0.8;
  background-color: #302a9f;
}

.intro-text p {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  position: absolute;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 32px;
  transform: translate(-50%, -50%);
}

.intro-text button {
  padding: 5px;
  width: 250px;
  height: 50px;
  font-size: 19px;
  border: solid #fcfdfd 3px;
  outline: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: #514dac;
  margin-top: 10px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.intro-text button:hover {
  border: none;
  background-color: var(--main-color);
}

@media (max-width: 768px) {
  .intro-text p {
    top: 30% !important;
    padding-bottom: 5px;
    font-size: 11px !important;
    left: 50%;
  }

  .intro-text h1 {
    top: 55%;
    left: 50%;
    font-size: 15px;
  }

  .intro-text button {
    width: 150px;
    height: 42px;
    font-size: 15px;
    text-align: center;
  }
}

/* End landing    */

/* Start Top Courses 5 */
.top-courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-courses h3 {
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
}

.top-courses a {
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  color: var(--main-color);
  border: solid 1px #15742f;
}

.top-courses a:hover {
  color: #ffffff;
  background-color: var(--main-color);
}

.articles-box,
.courses-box {
  display: flex;
  flex-wrap: wrap;
  text-align: end;
  justify-content: center;
}

.articles-box .box {
  width: 19%;
}

.courses-box .box {
  width: 23%;
}

.articles-box .box,
.courses-box .box {
  height: 340px;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles-box .box:hover,
.courses-box .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles-box .box img,
.courses-box .box img {
  width: 100%;
  max-height: 45%;
}

.articles-box .box .content,
.courses-box .content {
  padding: 5px;
  margin: 5px;
  height: 35%;
  text-align: left;
}

.articles-box .box .content p,
.courses-box .box .content p {
  font-size: 14px;
  margin: 0 auto 5px;
  padding: 0;
  color: var(--main-color);
}

.articles-box .box .content a,
.courses-box .box .content a {
  color: #0a0a0a;
  display: block;
  font-size: 16px;
  line-height: 1.3;
}

.articles .box .content i,
.courses-box .content i {
  font-size: 12px;
  color: #d0d23c;
}

.articles-box .box .info,
.courses-box .box .courses-info {
  padding: 5px;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e7;
}

.info-icon .message,
.courses-info .info-icon .message {
  margin: 0 5px 0 10px;
}

.articles .info a,
.courses-info a {
  color: #555555;
}

.articles .info .dollar,
.courses-info .dollar {
  padding: 5px;
  color: #c75533;
}

@media (max-width: 768px) {
  .articles-box .box {
    width: 75%;
    padding: 10px;
    margin: 10px;
  }

  .courses-box .box {
    width: 98%;
    padding: 10px;
    margin: 10px;
  }
}

/* End Top Courses */

/* Start Footer */

.footer {
  color: #ffffff;
  background-color: #191919;
}

.footer-img {
  width: 70%;
  height: 100%;
}

.footer .box {
  margin-left: 40px;
}

.footer .box h3 {
  color: #ffffff;
  margin-bottom: 40px;
}

.footer .box a {
  display: flex;
  margin: 3px;
  color: #c2b6b6c1;
  font-size: 15px;
}

/* .footer .box a i {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 20px 0 0;
  height: 50px;
  width: 50px;
  color: #0d1f95;
  background-color: #15742f;
} */

.footer .box a i {
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 20px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--main-color);
  background-color: var(--main-color);
}

.footer .box a i:hover {
  color: var(--main-color);
  border: solid 2px #ffffff;
  background-color: #ffffff;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #c2b6b6c1;
  border-top: 1px solid #444;
}

@media (max-width: 768px) {
  .footer-img {
    width: 40%;
    height: 100%;
  }
}

/* End Footer */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/**************************************************************/
/* COURSES page (2) */

/* Start landing */

.landing-Courses {
  background-attachment: fixed;
  background-image: url(../imgs/home/1.jpg);
  background-size: cover;
  height: calc(100vh - 150px);
}

.intro-Courses {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0.8;
}

.intro-Courses h1 {
  position: absolute;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 52%;
  left: 100px;
  transform: translate(-50%, -50%);
}

.intro-Courses p {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 100px;
  transform: translate(-50%, -50%);
}

/* Small */
@media (max-width: 768px) {
  .intro-Courses h1 {
    top: 50%;
    left: 50%;
    font-size: 17px;
    font-weight: 400;
  }

  .intro-text p {
    top: 80%;
    left: 50%;
    font-size: 20px;
    font-weight: 500;
  }
}

/* End landing    */

/* Start Top Courses */
/******************************** col-9 ********************************/
/* result-Video 1 */
.result-Video {
  display: flex;
}

.result-Video p {
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .result-Video p {
    margin: auto;
    margin-bottom: 20px;
  }
}

/* dropdown-search 2 */
.dropdown-search {
  display: flex;
  text-align: start;
}

.dropdown-search .drop {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-right: 10px;
  padding: 5px;
  border: solid var(--main-color) 1px !important;
  outline: none;
  width: 220px;
  height: 45px;
  background-color: #ffffff;
}

.dropdown-search .drop:focus {
  border: solid #dddddd 1px;
}

.dropdown-search span {
  color: #8f9295;
  margin: 7px 0 0 5px;
}

.down {
  color: #495057;
  font-size: 12px;
  margin: 12px 10px 0 0;
}

.dropdown-menu .activ {
  color: var(--main-color);
}

.dropdown-menu .activ i {
  color: var(--main-color);
  margin-left: 60px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f8f8;
}

/* Small */
@media (max-width: 768px) {
  .dropdown-search {
    display: inline-block;
    text-align: center;
  }

  .dropdown-search .drop {
    width: 91.5%;
    margin: 15px auto;
  }

  .input-group {
    width: 99% !important;
    text-align: center;
    justify-content: center;
  }
}

.input-group input {
  width: 80%;
  outline: none;
  border: solid var(--main-color) 1px !important;
}

.input-group input,
.input-group .btn-search {
  height: 45px;
  padding: 0 10px;
  border: solid var(--main-color) 1px;
  background-color: #ffffff;
}

.input-group input:focus {
  border: solid #dddddd 1px;
}

/******************************** col-3 ********************************/
/* Selected-Filters 1*/
.Selected-Filters {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.Selected-button {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.Selected-button:hover {
  border: none !important;
}

.Selected-button span {
  margin: 20px;
}

.Selected-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.card-body label {
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 19px;
  margin: 5px;
  padding: 10px 19px 10px 19px;
  background-color: #edeff7;
}

.card-body span {
  cursor: pointer;
  padding: 10px 0 10px 12px;
}

/* card-Software 2*/
.Selected-Software {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.Software-button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.Software-button:hover {
  border: none !important;
}

.Software-button span {
  margin: 20px;
}

.Software-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.Software-Sections {
  margin: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

.Software-Sections span {
  margin-left: 15px;
}

.Software-Sections .activ-hover {
  color: #c75533;
}

.Software-Sections i {
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

.Software-Sections .activ-hover:hover {
  cursor: pointer;
  color: #191919;
}

.Software-Sections .activ:hover {
  cursor: pointer;
  color: #191919;
}

/* Selected-Author 3*/

.Selected-Author {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.card-Author {
  height: 350px;
  overflow-y: scroll;
}

.Author-button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.Author-button:hover {
  border: none !important;
}

.Author-button span {
  margin: 20px;
}

.Author-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.Author-Sections {
  margin: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

.Author-Sections span {
  margin-left: 15px;
}

.Author-Sections .activ-hover {
  color: #c75533;
}

.Author-Sections i {
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

.Author-Sections .activ-hover:hover {
  cursor: pointer;
  color: #191919;
}

.Author-Sections .activ:hover {
  cursor: pointer;
  color: #191919;
}

/* Selected-Price 4*/

.Selected-Price {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.Price-button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.Price-button:hover {
  border: none !important;
}

.Price-button span {
  margin: 20px;
}

.Price-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.Price-Sections {
  margin: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

.Price-Sections span {
  margin-left: 15px;
}

/* Selected-Skill level 5 */

.Selected-skill {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.skill-button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.skill-button:hover {
  border: none !important;
}

.skill-button span {
  margin: 20px;
}

.skill-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.skill-Sections {
  margin: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

.skill-Sections span {
  margin-left: 15px;
}

.skill-Sections i {
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

/* Selected-Rating 6*/

.Selected-Rating {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.Rating-button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.Rating-button:hover {
  border: none !important;
}

.Rating-button span {
  margin: 20px;
}

.Rating-button i {
  margin: 30px;
  color: #495057;
  font-size: 12px;
}

.Rating-Sections {
  margin: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

.Rating-Sections span {
  margin-left: 15px;
}

.Rating-Sections i {
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

/* Selected-Not-sure  7 */
.sure-all {
  margin: 10px;
  text-align: start;
  border-radius: 5px;
  border: solid #edeff7 2px;
}

.sure {
  margin: 20px 30px;
  display: flex;
}

.sure h3 {
  color: #0a0a0a;
  margin: 20px;
  font-size: 20px;
}

.sure-all p {
  color: #6f7085;
  margin: 20px 30px;
}

/**************************************************************/
/* page course-details */
.all-content {
  background-color: #f9fafc;
}

/* col-9 */
/* landing-content 1 */
.landing-content {
  background-image: url(../imgs/home/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
}

.landing-details {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translate(-50, -50);
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  background-color: #703197;
}

.landing-details img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.landing-details span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.landing-details h3 {
  color: #ffffff;
  margin: 10px 5px;
}

.landing-details .button {
  margin: 10px 5px;
  color: #ffffff;
  background-color: #ff1053;
}

.landing-details .button:hover {
  background-color: #ff1053;
}

.landing-details i {
  margin: 5px;
  font-size: 12px;
  color: #d0d23c;
}

.landing-details .user,
.landing-details .message {
  margin: 5px;
  font-size: 12px;
  color: #ffffff;
}

/* Content-Courses 2 */
.tab {
  overflow: hidden;
  margin: 30px 15px;
  background-color: #f9fafc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  border-radius: 5px;
  padding: 12px 30px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

#Overview {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Overview 1 */
#Overview {
  display: none;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 10px 10px 10px 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

#Overview h1 {
  padding: 25px;
  font-size: 25px;
  font-weight: bold;
}

#Overview h5 {
  color: #000;
  padding: 0 25px;
}

#Overview p {
  font-size: 16px;
  color: #6f7074;
  padding: 5px 25px;
}

#Overview .what-learn i {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #6f7074;
  font-weight: bold;
}

#Overview .requirements i {
  font-size: 10px;
  color: #6f7074;
  margin-right: 10px;
}

/* CourseContent 2 */
#CourseContent {
  display: none;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 10px 10px 10px 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

.accordion-button {
  width: calc(100% - 30px);
  margin: auto;
  background-color: #edeff7 !important;
}

.Course-all {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.Course-all h1 {
  padding: 25px;
  font-size: 20px;
}

.Course-all h5 {
  color: #555555;
  font-size: 17px;
  padding: 27px;
}

.accordion-body {
  display: flex;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(152, 144, 144, 0.3);
}

.accordion-body i {
  margin: 0 30px;
}

.accordion-body span {
  margin: 0 30px;
}

/* Instructor 3 */
#Instructor {
  display: none;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 10px 10px 10px 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

#Instructor h1 {
  padding: 25px;
  font-size: 20px;
}

#Instructor h5 {
  color: #555555;
  font-size: 17px;
  padding: 27px;
}

.all-details {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .all-details {
    display: block;
    width: 100%;
    text-align: start;
    padding: 0 15px 15px;
  }

  .imgs {
    padding: 0 15px 15px;
  }
}

.icon-star {
  margin: 10px;
  width: 37%;
  text-align: start;
}

.icon-star i {
  color: #d0d23c;
  font-size: 12px;
  margin: 0 5px 0 0;
}

.Instructor-details {
  margin: 10px;
  text-align: start;
}

.Instructor-details i {
  color: #767171;
  margin: 0 5px 0 0;
}

.Instructor-details a {
  margin: 0 17px 0 0;
  color: #4f4f4f;
}

.all-details h3 {
  margin: 10px;
  width: 100%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
}

.all-details p {
  margin: 7px;
  width: 100%;
  color: #4f4f4f;
  text-align: start;
}

/* Review 4 */
.tabcontent {
  display: none;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 10px 10px 10px 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

#Review h3 {
  padding: 25px 25px 0;
  font-size: 20px;
  font-weight: bold;
}

.progress-content {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.progress-content p {
  margin: 0 30px;
}

.progress {
  margin-top: 10px;
  width: 50%;
  height: 12px;
}

.bg-warning {
  width: 84%;
}

.CourseRating-all {
  padding: 0 10px 70px 20px;
  margin-top: -10px;
}

@media (max-width: 1000px) {
  .CourseRating-all {
    text-align: center;
    margin-top: 20px;
  }
}

.CourseRating {
  padding: 0 20px 20px 10px;
  height: 90%;
  width: 80%;
  text-align: center;
  border-radius: 7px;
  background-color: #edeff7;
}

@media (max-width: 1000px) {
  .CourseRating {
    height: 90%;
    width: 30%;
  }
}

.CourseRating h1 {
  padding-top: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #0a0a0a;
}

.CourseRating i {
  font-size: 14px;
  color: #d0d23c;
}

.CourseRating h5 {
  font-size: 16px;
  padding-bottom: 10px;
}

.imgs-review {
  padding: 15px;
}

.all-review {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.review-date {
  margin: 20px 20px;
  text-align: start;
}

.review-date h2 {
  color: #212529;
  font-size: 20px;
}

.icon-stars {
  color: #d0d23c;
  margin-top: 20px;
  font-size: 14px;
  text-align: end;
}

.button-message {
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.button-message button {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.button-message span {
  color: #fc4053;
  margin: 0 5px;
}

.button-message p {
  padding-top: 10px;
}

.button-message p i {
  margin: 0 7px;
}

.See-reviews {
  margin-left: 37%;
  outline: none;
  border-radius: 20px;
  padding: 10px 50px;
  color: #2441e7;
  border: solid #2441e7 2px;
  background-color: #fff;
  transform: 0.3s;
}

@media (max-width: 1000px) {
  .See-reviews {
    margin-left: 30%;
  }
}

@media (max-width: 500px) {
  .See-reviews {
    margin-left: 15%;
  }
}

.See-reviews:hover {
  color: #fff;
  background-color: #2441e7;
}

.review-title h5 {
  padding: 20px;
  font-size: 18px;
}

.review-title h5 span {
  color: #d0d23c;
  font-size: 14px;
  margin-left: 20px;
}

.review-title h5 span i {
  margin-left: 3px;
}

.review-title label {
  padding: 20px 20px 0;
  font-size: 18px;
}

.review-title input {
  display: block;
  width: 65%;
  height: 50px;
  margin: 5px 20px;
  border-radius: 7px;
  outline: none;
  border: solid #dddddd 1px;
}

.review-title input:focus {
  border: solid #dddddd 1px !important;
}

.review-title textarea {
  display: block;
  width: 65%;
  height: 150px;
  margin: 5px 20px;
  outline: none;
  border: solid #dddddd 1px;
}

.review-title textarea:focus {
  border: solid #dddddd 1px !important;
}

/* col-lg-3 */
/* Selected Filters 1 */
.Price-title {
  /* margin: -200px 10px 10px 10px; */
  z-index: 10;
  margin: 45px 10px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.Price {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.Price h3 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  color: #0a0a0a;
}

.Price span {
  color: #4f4f4f;
  font-size: 17px;
  font-weight: bold;
  margin: 10px;
  padding-top: 30px;
}

.btn-Now {
  outline: none;
  color: #ff1053;
  border: solid #ff1053 2px;
  padding: 10px;
  margin: 10px;
  width: 85%;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 0.3s;
}

@media (max-width: 987px) {
  .btn-Now {
    max-width: 40%;
  }
}

@media (max-width: 987px) {
  .button-Now {
    text-align: start !important;
  }
}

.btn-Now:hover {
  color: #ffffff;
  background-color: #ff1053;
}

.Price-title p {
  margin: 20px;
  color: #827e7e;
}

.Price-title p i {
  margin-right: 10px;
  color: #827e7e;
}

/* course-features 2 */
.course-features {
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.course-features h3 {
  padding: 20px;
}

.course-features .lectures {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

/* Tags 3 */
.Tags {
  padding: 5px 5px 30px 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.Tags p {
  padding: 20px 30px 0;
  color: #0a0a37;
}

.Tags label {
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 19px;
  margin: 10px 20px;
  padding: 7px 25px 7px 25px;
  background-color: #edeff7;
}

/************** form **************/
.section-form {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 150px 0 40px;
  width: 40%;
}

@media (max-width: 787px) {
  .section-form {
    width: 80%;
    font-size: 15px;
    margin: 20px 0 10px 10%;
  }

  .form-check {
    font-size: 15px;
  }

  .form-check span {
    font-size: 15px;
  }
}

.section-form h5 {
  color: #0a0a0a;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.section-form p {
  color: #33393f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section-form a {
  margin-left: 5px;
}

.username,
.password {
  height: 55px;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
  font-family: "Oswald", sans-serif;
}

.form-check {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.form-check {
  margin: 5px 35px;
}

.form-check span {
  margin: 0 10px;
}

.section-form form [type="submit"] {
  height: 55px;
  width: 90%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #0d1f95;
  border: solid 1px #0d1f95;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
  transition: 0.3s;
}

.section-form form [type="submit"]:hover {
  color: #0d1f95;
  background-color: #fff;
}

/**************************************************************/
/* contact Us page */
/* contactUs-landing */
.contactUs-landing {
  background-image: url(../imgs/home/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
}

/* contact Us form */
.intro-contactUs {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translate(-50, -50);
  height: 50%;
  width: 50%;
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  background-color: #703197;
}

.intro-contactUs h1 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin: 10% 10% 15px 10%;
}

.intro-contactUs p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.intro-contactUs p a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.contact-us input {
  margin: 5px;
  padding: 5px;
  height: 50px;
  width: 70%;
  outline: none;
  border: #198754 solid 1px;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.contact-us input:hover {
  transform: translateY(-2px);
}

.contact-us textarea {
  margin: 5px;
  padding: 5px;
  height: 150px;
  width: 70%;
  outline: none;
  border: #198754 solid 1px;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.contact-us textarea:hover {
  transform: translateY(-2px);
}

.contact-us .submit {
  padding: 7px 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  color: #198754;
  background-color: #ffffff;
  border: #198754 solid 1px;
}

.contact-us .submit:hover {
  color: #ffffff;
  background-color: #198754;
  border: #198754 solid 1px;
  transform: translateY(-2px);
}

/* contact Us data */
.contact-data {
  margin: 20px 10px;
  padding: 7px;
  width: 70%;
  border-radius: 10px;
  background-color: #198754;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.contact-data i {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.contact-data p {
  padding: 10px 10px 0 5px;
  font-size: 15px;
  color: #ffffff;
}

@media (max-width: 985px) {
  .contact-data {
    width: 70%;
  }
}

@media (max-width: 350px) {
  .contact-data {
    width: 90%;
  }
}

/**************************************************************/
/* About Us page */
.all-about {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #e8e8e7;
}

.about-img img {
  height: 90%;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.about-details h3 {
  padding: 10px;
  margin: 10px;
  font-size: 19px;
  font-weight: bold;
}

.about-details p {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #191919;
}

.all-about p {
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: 500;
}

/**************************************************************/
/* account page */
.account {
  padding-top: 105px;
}

.account p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 85px;
  color: var(--main-color);
  background-color: #f8f9fa;
}

.account p a {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

/* Profile */
.Profile-personly {
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.Edit-profile {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.Edit-profile p {
  margin: 20px 10px 10px 60px;
  font-size: 22px;
  font-weight: bold;
}

.Edit-profile button {
  margin: 20px 85px 10px 10px;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 15px;
  background-color: #ffffff;
  outline: none;
  border: solid 1px var(--main-color);
}

.Edit-profile button:hover {
  color: #ffffff;
  background-color: var(--main-color);
}

@media (max-width: 450px) {
  .Edit-profile button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
  }
}

.Profile-form {
  display: flex;
  flex-wrap: wrap;
}

.Profile-form input {
  width: 300px;
  margin: 5px 10px 10px 50px;
  border: solid 1px var(--main-color);
}

.Profile-form label {
  margin: 0 0 0 50px;
}

@media (max-width: 450px) {
  .Profile-form input {
    width: 80%;
  }
}

.Profile-form label {
  font-size: 18px;
}

.Profile-form .modal-btn {
  color: var(--main-color);
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: none;
}

.Profile-form .modal-btn:hover {
  color: var(--main-color);
}

@media (max-width: 1120px) {
  .Profile-form .modal-btn {
    margin: 5px 10px 10px 50px !important;
  }
}

/* modal change Password */
.modal-header h5 {
  color: var(--main-color);
  margin: 5px 10px 10px 50px;
}

.modal-dialog {
  position: relative;
}

.button-x {
  position: absolute;
  top: -17px;
  left: -12px;
  color: #ffffff;
  outline: none;
  border-radius: 50%;
  border: solid var(--main-color) 1px;
  background-color: var(--main-color);
}

.button-x span {
  padding: 5px;
  color: #ffffff;
}

.btn-Save {
  color: #ffffff;
  background-color: var(--main-color);
}

.btn-Save:hover {
  color: #ffffff !important;
  background-color: #15742f !important;
}

.Profile-courses {
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.Profile-courses h1 {
  margin: 20px 0 10px 75px;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .Profile-courses h1 {
    margin: 20px 10px 0 50px;
  }
}

/**************************************************************/
/* account page */
.search-instructors {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.search-instructors p span {
  font-size: 16px;
  color: #857089;
}

.search-instructors p {
  padding: 10px;
  margin: 10px;
}

.search-instructors input {
  margin: 10px 25px;
  padding: 10px;
  outline: none;
  border-radius: 7px;
  border: solid var(--main-color) 1px;
}

@media (max-width: 500px) {
  .search-instructors input {
    padding: 0;
    margin: 0;
  }

  .search-instructors p {
    padding: 0;
    margin: 0;
  }
}

/* Start instructor-single page */
/* col-lg-9 */
.my-story {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.my-story img {
  padding: 10px 20px;
}

.my-story h3 {
  padding: 20px;
  font-size: 19px;
  color: var(--main-color);
}

.my-story h5 {
  color: #927e7e;
  padding: 20px;
  font-size: 16px;
}

.my-story p {
  color: #927e7e;
  padding: 0 20px;
  margin: 7px;
}

.education h3 {
  padding: 20px;
  font-size: 19px;
  color: var(--main-color);
}

.my-education {
  display: flex;
}

.my-education i {
  color: #2441e7;
  padding: 20px 0 0 20px;
}

.my-education h5 {
  color: #000000;
  font-size: 16px;
  padding: 20px 0 0 20px;
}

.my-education p {
  font-size: 15px;
  color: #927e7e;
  padding: 0 0 0 20px;
}

.my-education h5 span {
  color: #927e7e;
  font-size: 15px;
  margin-left: 3px;
}

.circle {
  color: var(--main-color) !important;
}

/* col-lg-3 */
.my-contact {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.my-contact h3 {
  padding: 20px;
  font-size: 19px;
  color: var(--main-color);
}

.my-contact h5 {
  font-size: 16px;
  margin: 7px;
  padding: 0 0 20px 20px;
}

.my-contact p {
  color: #927e7e;
  margin: 7px;
  padding: 0 0 0 20px;
}

.social-media i {
  margin: 7px 7px 0 0;
  padding: 7px 7px 0 0;
  color: var(--main-color);
}

/*****************************/
/* Course-videos page */
.video-Course {
  padding: 125px 0 0;
}

.video-Course p {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 20px 85px;
  color: var(--main-color);
  background-color: #ffffff;
}

@media (max-width: 400px) {
  .video-Course p {
    font-size: 18px;
    font-weight: bold;
    padding: 6px !important;
  }

  .video-Course p a {
    padding: 20px 10px !important;
    font-size: 18px !important;
    font-weight: 400;
  }
}

.video-Course p a {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
}

.vid {
  width: 100%;
}

.videos-title {
  overflow: scroll;
  height: calc(100vh - 140px);
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(166, 189, 193);
}

.Course-videos,
.videos-introduction {
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border: solid 1px #eaebed;
}

.videos-introduction {
  height: 70px !important;
  background-color: #f8f9fb;
}

.Course-videos p,
.Course-videos i,
.videos-introduction p,
.videos-introduction i {
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 0 10px;
}

.videos-introduction .span {
  color: #9f9fa6;
  float: left;
  margin: 0 10px;
  padding: 0;
  font-size: 12px;
}

.Setting-videos {
  height: 70px;
  color: #9f9fa6;
  background-color: #ffffff;
}

.Setting-videos h5,
p {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 0 10px;
}